@import '@/styles/mixins';

.main {
  width: 100vw;
  height: 100vh;

  overflow: scroll;

  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(#fdcf9b, #f6d4af);

  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;


    .windowBar {
      @include unityBar();

      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .info {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;

          img {
            border-radius: 50%;
          }

          p {
            font-family: 'CookieRun-Regular', sans-serif;
            font-size: 20px;
            color: white;
          }
        }

        .logoutButton {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;


          font-size: 16px;
          font-family: 'CookieRun-Regular', sans-serif;

          padding: 8px 16px;
          border-radius: 8px;
          border: none;
          background-color: #f5a534;
          color: white;
          cursor: pointer;
          transition: background-color .05s ease-in-out;

          svg {
            height: 18px;
            width: 18px;
          }

          &:hover {
            background-color: #FFA940;
          }

          &:active {
            background-color: #fc9b00;
          }
        }
      }

      svg {
        height: 50%;
        width: auto;

        cursor: pointer;
        color: white;

        transition: height .05s ease-in-out;

        &:hover {
          height: 60%;
        }

        &:active {
          height: 50%;
        }
      }
    }

    .bottomBar {
      @include unityBar(36px);

      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
