.login {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  gap: 20px;

  justify-content: center;
  align-items: center;

  .success {
    font-family: 'CookieRun-Regular', sans-serif;
    color: #FFBD59;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .confirm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      h1 {

        font-size: 32px;
      }

      p {
        font-size: 20px;
      }
    }

    button {
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      background-color: #FFBD59;
      color: white;
      cursor: pointer;
      transition: background-color .05s ease-in-out;
      font-family: 'CookieRun-Regular', sans-serif;

      &:hover {
        background-color: #FFA940;
      }

      &:active {
        background-color: #FFBD59;
      }
    }
  }
}
