.login {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  gap: 36px;

  justify-content: center;
  align-items: center;

  .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

    .confirm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 30px;
        color: #FFBD59;
      }

      p {
        font-size: 20px;
        color: #FEA439;
      }
    }

    button {
      font-size: 20px;
      padding-block: 12px;
      padding-inline: 20px;
      border-radius: 10px;

      border: none;
      background-color: #FFBD59;

      color: white;

      cursor: pointer;
      transition: background-color .1s ease-in-out;

      &:hover {
        background-color: #FFA940;
      }

      &:active {
        background-color: #FFBD59;
      }
    }
  }
}
